{
    "presets" : ["@babel/preset-env"],
    "plugins" : [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-async-to-generator",
    ]
} 

//babel e utilizado para transpilar o codigo ao navegador para que o mesmo consiga entender

//presets sao utilizados para definir para qual ambiente o babel precisa de preocupar, nesse caso o ambiente WEB
